*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(135deg, #667eea, #764ba2);
}

.card{
    width: 380px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    color: white
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

label{
    margin-top: 12px;
    display: block;
    font-size: 14px;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

input:focus, select:focus{
    box-shadow: 0 0 0 2px #ffffff;
}

